    <nav class="navbar">
        <a href="/"><h1 class="navbar__section navbar__item navbar__header pointer">Simon Smith</h1></a>
        <ul class="navbar__section">
            <li id="hamburgerToggle" class="pointer">
                <img src="../static/assets/icons8-hamburger-menu-48.png"
                     height="40px"
                     width="40px"
                     alt="The hamburger menu icon"
                     id="openIcon">
                <img src="../static/assets/icons8-multiply-48.png"
                     height="40px"
                     width="40px"
                     alt="Menu close icon"
                     id="closeIcon">
            </li>

        </ul>
        <ul class="hamburgerMenu">
            <li class="navbar__item pointer content__text"><a href="/about">About</a></li>
            <li class="navbar__item pointer content__text"><a href="/latest">Latest Paintings</a></li>
            <li class="navbar__item pointer content__text">Acrylics & Oils</li>
            <li class="navbar__item pointer content__text">Watercolours</li>
            <li class="navbar__item pointer content__text">Contact</li>
        </ul>

    </nav>