{% extends "base.html" %}

{% block body %}
    <div class="pagecontent-container">
    <figure class="figure">
        <img src="../../static/assets/simon.jpg" alt="Simon sketching in the Scottish hills">
    </figure>
        <p class="content__text">
        I paint Scottish landscapes with a geologist’s eye and the heart of someone who has always had an affinity with
        wild and lonely places. My paintings include both representational and abstract forms which emphasise the cycles
        of change, destruction and renewal which are imprinted on Scotland’s landforms. I try to capture something of
        the remorseless scales of time and space which underlie these landscapes.
        <br><br>
        I was a professional geologist for 35 years and have long appreciated the superb examples of geology at work in
        the Scottish landscape. As a hill runner, walker and wild camper I have also experienced the Scottish landscape
        in these other special ways.
        <br><br>
        The subjects for my paintings are always based on material I have gathered. This might be a hurried snapshot
        with my phone as I run along some rock-strewn ridge, a series of more considered photos during a walking trip or
        pencil sketches or plein air watercolour paintings. Or they might be half remembered and reimagined scenes
        from the past.
        <br><br>
        I paint in both acrylics and watercolours (with a bit of dabbling in oils). I tend to use palette knives and
        thick applications of paint when I work in acrylics. This seems to be a good way of capturing the layering and
        fracturing of rock formations.
        </p>
    </div>
{%  endblock %}