{% extends "base.html" %}

{% block body %}
    <div class="pagecontent-container">
        <figure class="figure">
            <img src="{{ product.images[0] }}" alt="A photo of a painting">
        </figure>
        <p>{{ price_string }}</p>
        <p> {{ product.name }}</p>
        <p> {{ product.description }}</p>
        <form action="/cart/add/{{ product.id }}" method="POST">
            <button type="submit" id="checkout-button">Add to Cart</button>
        </form>
    </div>
{%  endblock %}